.rounded {
    border-radius: 15px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Margins */

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}